.choice {
    margin-bottom: 1em;
}

.showAnswer .real .btn {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.showAnswer .fake .btn {
    color: #ccc;
}

.score {
    float: right;
}
